:root {
    --base-animation-skeleton: 3s ease-in-out infinite;
}

@keyframes skeleton {
    0%,
    100% {
        right: auto;
        left: 0;

        width: 0%;

        opacity: 0.3;
    }
    20% {
        right: auto;
        left: 0;

        width: 100%;

        opacity: 1;
    }
    28%,
    82% {
        right: 0;
        left: auto;

        width: 100%;
    }
    51%,
    58% {
        right: 0;
        left: auto;

        width: 0%;
    }
    83% {
        right: auto;
        left: 0;

        width: 100%;
    }
    96% {
        right: auto;
        left: 0;

        width: 0%;
    }
}
