:root {
    --base-color-yellow-100: #c24f00;
    /* rgb(194, 79, 0) - cmyk 18, 80, 100, 7 */
    --base-color-yellow-90: #e28700;
    /* rgb(226, 135, 0) - cmyk 10, 54, 100, 0 */
    --base-color-yellow-80: #f1b000;
    /* rgb(241, 176, 0) - cmyk 5, 33, 100, 0 */
    --base-color-yellow-80-alpha-50: #f1b00050;
    /* rgba(241, 176, 0, 0.5) */
    --base-color-yellow-70: #f3c400;
    /* rgb(243, 196, 0) - cmyk 6, 21, 100, 0 */
    --base-color-yellow-70-alpha-50: #f3c40050;
    /* rgba(243, 196, 0, 0.5); */
    --base-color-yellow-60: #f4cf1b;
    /* rgb(244, 207, 27) - cmyk 5, 15, 97, 0 */
    --base-color-yellow-50: #f6d949;
    /* rgb(246, 217, 73) - cmyk 5, 10, 84, 0 */
    --base-color-yellow-40: #f8e276;
    /* rgb(248, 226, 118) - cmyk 4, 7, 66, 0 */
    --base-color-yellow-30: #fbeca4;
    /* rgb(251, 236, 164) - cmyk 2, 4, 44, 0 */
    --base-color-yellow-20: #fdf5d1;
    /* rgb(253, 245, 209) - cmyk 1, 2, 21, 0 */
    --base-color-yellow-10: #fefae8;
    /* rgb(254, 250, 232) - cmyk 0, 1, 9, 0 */
    --base-color-orange-100: #a62700;
    /* rgb(166, 39, 0) - cmyk 23, 95, 100, 19 */
    --base-color-orange-90: #cb4100;
    /* rgb(203, 65, 0) - cmyk 15, 87, 100, 5 */
    --base-color-orange-80: #da6600;
    /* rgb(218, 102, 0) - cmyk 11, 72, 100, 2 */
    --base-color-orange-70: #f07f00;
    /* rgb(240, 127, 0) - cmyk 2, 61, 100, 0 */
    --base-color-orange-60: #f7941d;
    /* rgb(247, 148, 29) - cmyk 0, 49, 99, 0 */
    --base-color-orange-60-alpha-50: #f7941d50;
    /* rgba(247, 148, 29, 0.5) */
    --base-color-orange-50: #f9a94a;
    /* rgb(249, 169, 74) - cmyk 0, 38, 80, 0 */
    --base-color-orange-40: #fabf77;
    /* rgb(250, 191, 119) - cmyk 1, 28, 60, 0 */
    --base-color-orange-30: #fcd4a5;
    /* rgb(252, 212, 165) - cmyk 1, 18, 37, 0 */
    --base-color-orange-20: #fdead2;
    /* rgb(253, 234, 210) - cmyk 1, 8, 17, 0 */
    --base-color-orange-10: #fef4e8;
    /* rgb(254, 244, 232) - cmyk 0, 3, 7, 0 */
    --base-color-red-100: #470f00;
    /* rgb(71, 15, 0) - cmyk 44, 85, 84, 69 */
    --base-color-red-90: #961200;
    /* rgb(150, 18, 0) - cmyk 25, 100, 100, 26 */
    --base-color-red-80: #b81500;
    /* rgb(184, 21, 0) - cmyk 19, 100, 100, 11 */
    --base-color-red-70: #e5220f;
    /* rgb(229, 34, 15) - cmyk 4, 98, 100, 0 */
    --base-color-red-60: #f24535;
    /* rgb(242, 69, 53) - cmyk 0, 88, 86, 0 */
    --base-color-red-60-alpha-50: #f2453550;
    /* rgba(242, 69, 53, 0.5) */
    --base-color-red-60-alpha-25: rgba(242, 69, 53, 0.25);
    --base-color-red-50: #f56a5d;
    /* rgb(245, 106, 93) - cmyk 0, 73, 61, 0 */
    --base-color-red-40: #f78f86;
    /* rgb(247, 143, 134) - cmyk 0, 54, 38, 0 */
    --base-color-red-30: #fab5ae;
    /* rgb(250, 181, 174) - cmyk 0, 35, 23, 0 */
    --base-color-red-20: #fcdad7;
    /* rgb(252, 218, 215) - cmyk 0, 17, 9, 0 */
    --base-color-red-10: #feeceb;
    /* rgb(254, 236, 235) - cmyk 0, 8, 3, 0 */
    --base-color-dk-red-100: #2d0709;
    /* rgb(45, 7, 9) - cmyk 54, 77, 68, 79 */
    --base-color-dk-red-90: #520408;
    /* rgb(82, 4, 8) - cmyk 41, 91, 81, 63 */
    --base-color-dk-red-80: #750e13;
    /* rgb(117, 14, 19) - cmyk 31, 100, 99, 43 */
    --base-color-dk-red-70: #a2191f;
    /* rgb(162, 25, 31) - cmyk 24, 100, 100, 19 */
    --base-color-dk-red-70-alpha-50: #a2191f50;
    /* rgba(162, 25, 31, 0.5) */
    --base-color-dk-red-60: #da1e28;
    /* rgb(218, 30, 40) - cmyk 8, 100, 97, 1 */
    --base-color-dk-red-60-alpha-50: #da1e2850;
    /* rgba(218, 30, 40, 0.5) */
    --base-color-dk-red-50: #fa4d56;
    /* rgb(250, 77, 86) - cmyk 0, 85, 60, 0 */
    --base-color-dk-red-40: #ff8389;
    /* rgb(255, 131, 137) - cmyk 0, 62, 32, 0 */
    --base-color-dk-red-30: #ffb3b8;
    /* rgb(255, 179, 184) - cmyk 0, 37, 15, 0 */
    --base-color-dk-red-20: #ffd7d9;
    /* rgb(255, 215, 217) - cmyk 0, 19, 7, 0 */
    --base-color-dk-red-10: #fff1f1;
    /* rgb(255, 241, 241) - cmyk 0, 6, 2, 0 */
    --base-color-magenta-100: #2a0a18;
    /* rgb(42, 10, 24) - cmyk 61, 79, 60, 77 */
    --base-color-magenta-90: #510224;
    /* rgb(81, 2, 36) - cmyk 45, 93, 60, 61 */
    --base-color-magenta-80: #740937;
    /* rgb(116, 9, 55) - cmyk 36, 100, 58, 39 */
    --base-color-magenta-70: #9f1853;
    /* rgb(159, 24, 83) - cmyk 31, 100, 48, 14 */
    --base-color-magenta-60: #d12771;
    /* rgb(209, 39, 113) - cmyk 14, 97, 29, 0 */
    --base-color-magenta-50: #ee5396;
    /* rgb(238, 83, 150) - cmyk 0, 83, 5, 0 */
    --base-color-magenta-50-alpha-50: #ee539650;
    /* rgba(238, 83, 150, 0.5) */
    --base-color-magenta-40: #ff7eb6;
    /* rgb(255, 126, 182) - cmyk 0, 64, 0, 0 */
    --base-color-magenta-40-alpha-50: #ff7eb6;
    /* rgba(255, 126, 182, 0.5) */
    --base-color-magenta-30: #ffafd2;
    /* rgb(255, 175, 210) - cmyk 0, 40, 0, 0 */
    --base-color-magenta-20: #ffd6e8;
    /* rgb(255, 214, 232) - cmyk 0, 20, 0, 0 */
    --base-color-magenta-10: #fff0f7;
    /* rgb(255, 240, 247) - cmyk 0, 7, 0, 0 */
    --base-color-purple-100: #1c0f30;
    /* rgb(28, 15, 48) - cmyk 88, 91, 47, 62 */
    --base-color-purple-90: #31135e;
    /* rgb(49, 19, 94) - cmyk 94, 100, 27, 27 */
    --base-color-purple-80: #491d8b;
    /* rgb(73, 29, 139) - cmyk 88, 100, 6, 2 */
    --base-color-purple-70: #6929c4;
    /* rgb(105, 41, 196) - cmyk 73, 85, 0, 0 */
    --base-color-purple-60: #8a3ffc;
    /* rgb(138, 63, 252) - cmyk 65, 75, 0, 0 */
    --base-color-purple-50: #a56eff;
    /* rgb(165, 110, 255) - cmyk 51, 61, 0, 0 */
    --base-color-purple-50-alpha-50: #a56eff50;
    /* rgba(165, 110, 255, 0.5) */
    --base-color-purple-40: #be95ff;
    /* rgb(190, 149, 255) - cmyk 32, 42, 0, 0 */
    --base-color-purple-40-alpha-50: #be95ff50;
    /* rgba(190, 149, 255, 0.5) */
    --base-color-purple-30: #d4bbff;
    /* rgb(212, 187, 255) - cmyk 18, 26, 0, 0 */
    --base-color-purple-20: #e8daff;
    /* rgb(7, 14, 0, 0) - cmyk 232, 218, 255 */
    --base-color-purple-10: #f6f2ff;
    /* rgb(246, 242, 255) - cmyk 2, 4, 0, 0 */
    --base-color-blue-100: #001141;
    /* rgb(0, 17, 65) - cmyk 100, 94, 37, 51 */
    --base-color-blue-90: #001d6c;
    /* rgb(0, 29, 108) - cmyk 100, 95, 26, 22 */
    --base-color-blue-80: #002d9c;
    /* rgb(0, 45, 156) - cmyk 100, 93, 4, 1 */
    --base-color-blue-70: #0043ce;
    /* rgb(0, 67, 206) - cmyk 90, 77, 0, 0 */
    --base-color-blue-60: #0f62fe;
    /* rgb(15, 98, 254) - cmyk 81, 63, 0, 0 */
    --base-color-blue-60-alpha-50: #0f62fe50;
    /* rgba(15, 98, 254, 0.5) */
    --base-color-blue-50: #4589ff;
    /* rgb(69, 137, 255) - cmyk 69, 46, 0, 0 */
    --base-color-blue-50-alpha-50: #4589ff50;
    /* rgba(69, 137, 255, 0.5) */
    --base-color-blue-40: #78a9ff;
    /* rgb(120, 169, 255) - cmyk 49, 27, 0, 0 */
    --base-color-blue-30: #a6c8ff;
    /* rgb(166, 200, 255) - cmyk 31, 14, 0, 0 */
    --base-color-blue-20: #d0e2ff;
    /* rgb(208, 226, 255) - cmyk 16, 6, 0, 0 */
    --base-color-blue-10: #edf5ff;
    /* rgb(237, 245, 255) - cmyk 5, 1, 0, 0 */
    --base-color-cyan-100: #061727;
    /* rgb(6, 23, 39) - cmyk 89, 76, 55, 70 */
    --base-color-cyan-90: #012749;
    /* rgb(1, 39, 73) - cmyk 100, 85, 42, 44 */
    --base-color-cyan-80: #003a6d;
    /* rgb(0, 58, 109) - cmyk 100, 84, 32, 17 */
    --base-color-cyan-70: #00539a;
    /* rgb(0, 83, 154) - cmyk 99, 75, 9, 1 */
    --base-color-cyan-60: #0072c3;
    /* rgb(0, 114, 195) - cmyk 86, 53, 0, 0 */
    --base-color-cyan-50: #1192e8;
    /* rgb(17, 146, 232) - cmyk 74, 35, 0, 0 */
    --base-color-cyan-50-alpha-50: #1192e850;
    /* rgba(17, 146, 232, 0.5) */
    --base-color-cyan-40: #33b1ff;
    /* rgb(51, 177, 255) - cmyk 62, 18, 0, 0 */
    --base-color-cyan-40-alpha-50: #33b1ff50;
    /* rgba(51, 177, 255, 0.5) */
    --base-color-cyan-30: #82cfff;
    /* rgb(130, 207, 255) - cmyk 42, 5, 0, 0 */
    --base-color-cyan-20: #bae6ff;
    /* rgb(186, 230, 255) - cmyk 24, 0, 0, 0 */
    --base-color-cyan-10: #e5f6ff;
    /* rgb(229, 246, 255) - cmyk 8, 0, 0, 0 */
    --base-color-teal-100: #081a1c;
    /* rgb(8, 26, 28) - cmyk 83, 65, 65, 77 */
    --base-color-teal-90: #022b30;
    /* rgb(2, 43, 48) - cmyk 91, 63, 61, 63 */
    --base-color-teal-80: #004144;
    /* rgb(0, 65, 68) - cmyk 93, 56, 60, 46 */
    --base-color-teal-70: #005d5d;
    /* rgb(0, 93, 93) - cmyk 91, 45, 57, 27 */
    --base-color-teal-60: #007d79;
    /* rgb(0, 125, 121) - cmyk 87, 32, 53, 10 */
    --base-color-teal-50: #009d9a;
    /* rgb(0, 157, 154) - cmyk 81, 17, 43, 1 */
    --base-color-teal-50-alpha-50: rgba(0, 157, 154, 0.5);
    --base-color-teal-50-alpha-10: #009d9a10;
    --base-color-teal-40: #08bdba;
    /* rgb(8, 189, 186) - cmyk 72, 0, 33, 0 */
    --base-color-teal-40-alpha-50: #08bdba50;
    /* rgba(8, 189, 186, 0.5) */
    --base-color-teal-30: #3ddbd9;
    /* rgb(61, 219, 217) - cmyk 58, 0, 23, 0 */
    --base-color-teal-20: #9ef0f0;
    /* rgb(158, 240, 240) - cmyk 33, 0, 11, 0 */
    --base-color-teal-10: #d9fbfb;
    /* rgb(217, 251, 251) - cmyk 12, 0, 3, 0 */
    --base-color-green-100: #071908;
    /* rgb(7, 25, 8) - cmyk 75, 57, 75, 81 */
    --base-color-green-90: #022d0d;
    /* rgb(2, 45, 13) - cmyk 81, 52, 85, 70 */
    --base-color-green-80: #044317;
    /* rgb(4, 67, 23) - cmyk 86, 45, 100, 53 */
    --base-color-green-70: #0e6027;
    /* rgb(14, 96, 39) - cmyk 88, 36, 100, 32 */
    --base-color-green-60: #198038;
    /* rgb(25, 128, 56) - cmyk 86, 26, 100, 12 */
    --base-color-green-50: #24a148;
    /* rgb(36, 161, 72) - cmyk 81, 10, 100, 1 */
    --base-color-green-50-alpha-50: #24a14850;
    /* rgba(36, 161, 72, 0.5) */
    --base-color-green-40: #42be65;
    /* rgb(66, 190, 101) - cmyk 70, 0, 82, 0 */
    --base-color-green-40-alpha-50: #42be65;
    /* rgba(66, 190, 101, 0.5) */
    --base-color-green-30: #6fdc8c;
    /* rgb(111, 220, 140) - cmyk 53, 0, 62, 0 */
    --base-color-green-20: #a7f0ba;
    /* rgb(167, 240, 186) - cmyk 33, 0, 37, 0 */
    --base-color-green-10: #defbe6;
    /* rgb(222, 251, 230) - cmyk 11, 0, 13, 0 */
    --base-color-cool-gray-100: #121619;
    /* rgb(18, 22, 25) - cmyk 77, 68, 64, 79 */
    --base-color-cool-gray-90: #21272a;
    /* rgb(33, 39, 42) - cmyk 76, 66, 62, 67 */
    --base-color-cool-gray-80: #343a3f;
    /* rgb(52, 58, 63) - cmyk 74, 64, 57, 50 */
    --base-color-cool-gray-70: #4d5358;
    /* rgb(77, 83, 88) - cmyk 69, 57, 52, 30 */
    --base-color-cool-gray-70-alpha-50: #4d535850;
    /* rgb(77, 83, 88) - cmyk 69, 57, 52, 30 */
    --base-color-cool-gray-60: #697077;
    /* rgb(105, 112, 119) - cmyk 61, 49, 43 13 */
    --base-color-cool-gray-50: #878d96;
    /* rgb(135, 141, 150) - cmyk 50, 39, 33, 2 */
    --base-color-cool-gray-40: #a2a9b0;
    /* rgb(162, 169, 176) - cmyk 38, 28, 25, 0 */
    --base-color-cool-gray-30: #c1c7cd;
    /* rgb(193, 199, 205) - cmyk 24, 16, 14, 0 */
    --base-color-cool-gray-20: #dde1e6;
    /* rgb(221, 225, 230) - cmyk 12, 7, 5, 0 */
    --base-color-cool-gray-10: #f2f4f8;
    /* rgb(242, 244, 248) - cmyk 4, 2, 1, 0 */
    --base-color-gray-100: #161616;
    /* rgb(22, 22, 22) - cmyk 73, 67, 65, 80 */
    --base-color-gray-90: #262626;
    /* rgb(38, 38, 38) - cmyk 71, 65, 64, 69 */
    --base-color-gray-90-alpha-50: #26262650;
    /* rgba(38, 38, 38, 0.5) */
    --base-color-gray-80: #393939;
    /* rgb(57, 57, 57) - cmyk 69, 62, 21, 53 */
    --base-color-gray-70: #525252;
    /* rgb(82, 82, 82) - cmyk 64, 57, 56, 33 */
    --base-color-gray-60: #6f6f6f;
    /* rgb(111, 111, 111) - cmyk 57, 49, 48, 15 */
    --base-color-gray-60-alpha-50: #6f6f6f50;
    /* rgba(111, 111, 111, 0.5) */
    --base-color-gray-50: #8d8d8d;
    /* rgb(141, 141, 141) - cmyk 47, 39, 39, 3 */
    --base-color-gray-50-alpha-50: #8d8d8d50;
    /* rgba(141, 141, 141, 0.5) */
    --base-color-gray-40: #a8a8a8;
    /* rgb(168, 168, 168) - cmyk 36, 29, 29, 0 */
    --base-color-gray-30: #c6c6c6;
    /* rgb(198, 198, 198) - cmyk 22, 17, 18, 0 */
    --base-color-gray-20: #e0e0e0;
    /* rgb(224, 224, 224) - cmyk 11, 8, 9, 0 */
    --base-color-gray-10: #f4f4f4;
    /* rgb(244) - cmyk 3, 2, 2, 0 */
    --base-color-warm-gray-100: #171414;
    /* rgb(23, 20, 20) - cmyk 71, 68, 66, 80 */
    --base-color-warm-gray-90: #272525;
    /* rgb(39, 37, 37) - cmyk 70, 66, 64, 70 */
    --base-color-warm-gray-80: #3c3838;
    /* rgb(60, 56, 56) - cmyk 67, 63, 61, 53 */
    --base-color-warm-gray-70: #565151;
    /* rgb(86, 81, 81) - cmyk 62, 58, 56, 33 */
    --base-color-warm-gray-60: #736f6f;
    /* rgb(115, 111, 111) - cmyk 55, 49, 48, 15 */
    --base-color-warm-gray-50: #8f8b8b;
    /* rgb(143, 139, 139) - cmyk 46, 40, 40, 4 */
    --base-color-warm-gray-40: #ada8a8;
    /* rgb(173, 168, 168) - cmyk 34, 29, 29, 0 */
    --base-color-warm-gray-30: #cac5c4;
    /* rgb(202, 197, 196) - cmyk 21, 18, 18, 0 */
    --base-color-warm-gray-20: #e5e0df;
    /* rgb(229, 224, 223) - cmyk 9, 9, 9, 0 */
    --base-color-warm-gray-10: #f7f3f2;
    /* rgb(247, 243, 242) - cmyk 2, 3, 2, 0 */
    --base-color-brown-100: #2d1700;
    /* rgb(45, 23, 0) - cmyk 57, 69, 78, 77 */
    --base-color-brown-90: #492d0b;
    /* rgb(73, 45, 11) - cmyk 49, 68, 90, 62 */
    --base-color-brown-80: #6c461b;
    /* rgb(108, 70, 27) - cmyk 41, 65, 99, 40 */
    --base-color-brown-70: #936531;
    /* rgb(147, 101, 49) - cmyk 34, 57, 92, 20 */
    --base-color-brown-60: #bf9652;
    /* rgb(191, 150, 82) - cmyk 25, 40, 79, 3 */
    --base-color-brown-50: #cfb57a;
    /* rgb(207, 181, 122) - cmyk 20, 26, 60, 0 */
    --base-color-brown-40: #decca3;
    /* rgb(222, 204, 163) - cmyk 13, 16, 39, 0 */
    --base-color-brown-30: #ece3cc;
    /* rgb(236, 227, 204) - cmyk 7, 8, 20, 0 */
    --base-color-brown-20: #f3eee0;
    /* rgb(243, 238, 224) - cmyk 4, 4, 11, 0 */
    --base-color-brown-10: #f8f6ef;
    /* rgb(248, 246, 239) - cmyk 2, 2, 5, 0 */
    --base-color-white: #ffffff;
    /* rgb(255, 255, 255) */
    /*
     * Timely
     */
    --base-color-t1: #002d9c;
    /* rgb(0,45,156) */
    --base-color-t2: #0043ce;
    /* rgb(0,67,206) */
    --base-color-t3: #0f62fe;
    /* Primary */
    --base-color-t4: #4589ff;
    --base-color-t5: #78a9ff;
    --base-color-t6: #a6c8ff;
    --base-color-t7: #d0e2ff;
    --base-color-t8: #edf5ff;
    /* Search Bar */
}