@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin:0px;
  height:100%;
  background: linear-gradient(116.82deg, #d32d28 0%, #6c1280 48.44%, #1102df 100%);
}

#svelte {
  height: 100%;
}