@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0px;
}

body {
	background-image: url('/assets/SnowyPalace-Homepage.webp');
}

#svelte {
	height: 100%;
}
